footer {
    background-color: var(--grey);
    color: var(--white);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
}

.footer-btn {
    background-color: var(--primary);
    padding: 0.7rem;
    color: var(--white);
    text-align: center;
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    font-size: 700;
    width: 100%;
}

.footer-btn:hover {
    background-color: var(--dark);
}

.briefcase {
    display: flex;
    align-items: flex-end;
}

.briefcase a {
    text-decoration: none;
    font-size: larger;
    color: var(--white);
    text-align: end;
    margin-left: 0.7rem;
}

.socialNetworks {
    display: inline-block;
}

.socialNetworks img {
    width: 35px;
}

.socialNetworks h4 {
    text-align: center;
    margin-bottom: 1em;
}

.list-social-networks {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 992px) {
    .footer-btn {
        padding: 0.5rem;
        font-size: 1rem;
    }
    .footer-container {
        padding: 1rem;
    }
    .briefcase h2 {
        font-size: 1.3rem;
    }
    .briefcase a {
        font-size: medium;
    }
    .socialNetworks img {
        width: 27px;
    }
}

@media screen and (max-width: 425px) {
    .footer-btn {
        padding: .5rem;
        font-size: .9rem;
    }
    .footer-container {
        justify-content: space-between;
        padding: 1rem .5rem;
    }
    .briefcase h2 {
        font-size: 1rem;
    }
    .briefcase a {
        font-size: small;
    }
    .socialNetworks img {
        width: 25px;
    }
    .socialNetworks h4 {
        margin-bottom: .5em;
    }
}

@media screen and (max-width: 320px) {
    .briefcase {
        flex-direction: column;
        align-items: center
    }
    .briefcase a {
        text-align: center;
        margin-left: 0;
    }
}