/* estilos de la carta de precentacion */
.hero {
  width: 100%;
}

.hero-card {
  /* display: inline-block; */
  width: 25%;
  height: 25%;
  border-radius: 20px;
  border: 1px solid #707070;
  background-color: #ffffff;
  padding: 25px;
}
.hero-card h3 {
  color: #707070;
  text-align: center;
}

.hero-card p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #707070;
  text-align: center;
}

/* estilos de la imagen del programador */

.hero-img img {
  width: 25%;
  height: 25%;
  display: inline-block;
}
