.header {
    background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    position: fixed;
    width: 100%;
}

.navbar {
    box-shadow: 0 0 5px var(--dark);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar img {
    width: 40px;
}

.navigation,
.navigation ul,
.links,
.links a {
    height: 100%;
}

.expand-btn,
#check {
    display: none;
}

.links {
    display: inline-block;
    list-style: none;
}

.links a {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    color: var(--white);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

.links a:hover {
    transition: 0.2s;
    color: var(--dark);
    background-color: var(--white);
}


/* media queries */

@media screen and (max-width: 576px) {
    .navbar {
        justify-content: space-between;
        padding: 0 3rem;
    }
    .expand-btn {
        display: inline-block;
    }
    .expand-btn img {
        width: 30px;
    }
    .navigation {
        position: fixed;
        width: 100%;
        height: 10rem;
        background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
        background: linear-gradient(to right, #4a00e0, #8e2de2);
        top: 60px;
        left: -100%;
        transition: all 0.5s;
        z-index: -1;
    }
    .navigation ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .links {
        display: block;
        height: 3rem;
    }
    #check:checked~.navigation {
        left: 0;
    }
}

@media screen and (max-width: 768px) {
    .links a {
        font-size: 1.1rem;
    }
}