---
import { ButtonType } from '../../enums/button-type.enum';
import './JAnchor.css';

export interface AnchorProps {
  link: string;
  text: string;
  type?: ButtonType;
}

const { text, link, type } = Astro.props as AnchorProps;

const buttonTypeMap = {
  [ButtonType.PRIMARY]: 'btn-primary',
  [ButtonType.SECONDARY]: 'btn-secondary', //TODO: Add styles for secondary button
};

const btnClass =
  type && type in buttonTypeMap ?
    buttonTypeMap[type]
  : buttonTypeMap[ButtonType.PRIMARY];
---

<a class={`btn ${btnClass}`} role='button' href={link}>{text}</a>
