:root {
    --color-primary: #4d02e0;
    --color-second: #8d2ce2;
    --color-grey: #707070;
    --color-white: #f8f9fa;
    --color-white-100: #f0f0f0;
    --color-dark: #212529;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: var(--color-white);
}

.bg-pattern {
    background-color: #e5e5f7;
    background-image: radial-gradient(var(--color-dark) 0 0.5px, var(--color-white) 0.5px);
    background-size: 10px 10px;
}

/* ===========| UTILITIES |===========  */
.h-full {
    height: 100%;
}

.app-margin {
    max-width: 90%;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}