---
import Layout from '../components/Layout.astro';
import Hero from '../components/Hero.astro';
import Nav from '../components/Nav/Nav.astro';
---

<Layout title='Programador'>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <span>hola</span>
  <!--<Hero />-->
</Layout>
