---
import JImg from '../JImg.astro';
import { IMG } from '../../constants/img.constants';
import { ElementId } from '../../constants/app-id.constants';
import './BigButton.css';
---

<a class='big-btn app-margin' href={`#${ElementId.ABILITIES}`}
  >Habilidades e Información
  <JImg image={IMG.DOWN_ARROW} />
</a>
