---
import { IMG } from '../constants/img.constants';
import JImg from './JImg.astro';
---

<header class="fixed w-full bg-gradient-to-r from-[#4a00e0] to-[#8e2de2] text-white">
  <nav class='shadow-md h-[60px] flex items-center justify-around'>
    <a href='#hero'>
      <JImg image={IMG.LOGO} />
    </a>
    <input type='checkbox' id='check' class='hidden peer' />
    <label for='check' class='expand-btn block sm:hidden cursor-pointer'>
      <JImg className='expand-img w-[30px]' image={IMG.EXPAND_NAVBAR} />
    </label>
    <div
      class='navigation fixed sm:static w-full sm:w-auto h-40 sm:h-auto bg-gradient-to-r from-[#4a00e0] to-[#8e2de2] top-[60px] left-[-100%] peer-checked:left-0 transition-all duration-500 z-[-1] sm:z-auto sm:flex sm:items-center sm:justify-center sm:bg-none sm:top-auto sm:left-auto'
    >
      <ul
        class='flex flex-col sm:flex-row items-center justify-center w-full h-full'
      >
        <li class='links block sm:inline-block h-12 sm:h-full list-none'>
          <a
            href='#abilities'
            class='flex items-center px-2 text-white font-bold text-lg sm:text-xl no-underline hover:text-[#22223b] hover:bg-white transition-colors duration-200 h-full'
            >Habilidades</a
          >
        </li>
        <li class='links block sm:inline-block h-12 sm:h-full list-none'>
          <a
            href='#socialNetworks'
            class='flex items-center px-2 text-white font-bold text-lg sm:text-xl no-underline hover:text-[#22223b] hover:bg-white transition-colors duration-200 h-full'
            >Redes Sociales</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
