---
import { IMG } from '../../constants/img.constants';
import JImg from '../JImg.astro';
import './JSkills.css';
---

<section class='container-skills'>
  <div class='skill-section'>
    <h3 class='skill-title'>Front-end</h3>
    <JImg image={IMG.FRONT_END} />
    <ul class='skills-list'>
      <li>TypeScript con <b>Angular, React</b></li>
      <li>Desarrollo Móvil con <b>React Native</b></li>
      <li>HTML5 y CSS3</li>
      <li>JavaScript</li>
      <li>Bootstrap, PrimeNg, Tailwindcss</li>
    </ul>
  </div>

  <div class='skill-section'>
    <h3 class='skill-title'>Back-end</h3>
    <JImg image={IMG.BACK_END} />
    <ul class='skills-list'>
      <li>Java con <b>Sprint</b></li>
      <li>PHP con <b>Laravel</b></li>
      <li>JavaScript con <b>Node.js / Express.js</b></li>
      <li>Bases de datos con <b>PostgreSQL y MySQL</b></li>
      <li>Docker</li>
    </ul>
  </div>

  <div class='skill-section'>
    <h3 class='skill-title'>Otros</h3>
    <p class='other-skill-image'>&lt;/&gt;</p>
    <ul class='skills-list'>
      <li>Control de versiones con <b>Git y GitHub</b></li>
      <li>Metodologías de trabajo con <b>Scrum y Kanban</b></li>
      <li>Diseño básico con <b>Figma y AdobeXD</b></li>
      <li>Uso de Terminal</li>
      <li>EndToEnd test con Cypress</li>
      <li>Unit test con Jest, vitest, Jest</li>
    </ul>
  </div>
</section>
